* {
    margin: 0px;
    padding: 0px;
}

.cabecalho {
    width: 100%;
    height: 150px;
    /* border: 1px black solid; */
    padding-top: 20px;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    min-height: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    margin-top: 20px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.titulo {
    width: 800px;
    height: 100px;
    text-align: center;
    font-size: 2.2em;
    font-family: Arial, Helvetica;
    margin-top: 30px;
    float: left;
}

.configuracaoImg img {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    float: left;
}

.menu {
    width: 100%;
    height: 100px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.admConteudo,
.contato,
.admUser {
    width: 20%;
    height: 65px;
    /* border: solid 1px black; */
    font-family: Arial, Helvetica;
    font-size: 1.2em;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.admConteudo img,
.contato img,
.admUser img {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.userLog {
    width: 160px;
    height: 100px;
    float: left;
    font-size: 1.2em;
    margin-left: 35px;
}

.logOut {
    text-align: right;
    margin-top: 30px;
    padding: 3px;
    box-sizing: border-box;
}

.conteudo p {
    text-align: center;
    font-size: 2.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 60px;
    box-sizing: border-box;
}

#tblFaleConosco {
    width: 100%;
    min-height: 150px;
    height: auto;
}

#tituloFaleConosco {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 1.5em;
}

.tblLinhaTituloFaleConosco {
    width: 100%;
    height: 20px;
    color: white;
    background-color: black;
}

.tblColunasfaleConosco {
    width: 100px;
    min-height: 20px;
    height: auto;
    border: solid 1px black;
    text-align: center;
}

.tblLinhasFaleConosco {
    width: 100%;
    height: 20px;
}